{% extends 'layout/base.html' %}

{% block title %}Create Day {% endblock %}

{% block content %}
<form class="form" method="POST" action="create" style="width: 18rem;">
    <h1>Create</h1>
    <hr/>
    {% if errors %}
        {% for error, reason in errors.items() %}
            <div class="alert alert-danger">
                {{error}} - {{reason}}
            </div>
        {% endfor %}
        <hr/>
    {% endif %}
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.title(class_="form-control", placeholder="Title") }}
    </div>
    <br/>
    <div class="form-group">
        {{ form.description(class_="form-control", placeholder="Description") }}
    </div>
    <br/>
    <div class="form-group">
        {{ form.date(type="date", class_="form-control") }}
    </div>
    <hr/>
    <br/>
    <div class="form-group">
        {{ form.submit(class_="btn btn-success") }}
    </div>
</form>
{% endblock %}