{% extends 'layout/base.html' %}

{% block title %}Day {% endblock %}

{% block content %}
    <a href="/schedules/{{day.schedule_id}}/{{day.id}}/update" class="btn btn-primary">Update</a> <a href="/schedules/{{day.schedule_id}}/{{day.id}}/delete" class="btn btn-danger">X</a>
    <hr/>
    <h1>{{day.title}}</h1>
    <hr/>
    <i>Status: <b>{{"Done" if day.done else "In progress"}}</b></i>
    <hr/>
    {{day.description}}
    <hr/>
    {{day.date}}
    <br/>
{% endblock %}