{% extends 'layout/base.html' %}

{% block title %}My Schedules {% endblock %}

{% block content %}
<a href="/schedules/create" class="btn btn-success btn-sm">Create</a>
<hr/>

<div class="row">
    {% for schedule in schedules %}
        <div class="card" style="width: 18rem; margin: 10px;">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="/schedules/{{schedule.id}}">{{schedule.title}}</a>
                </h5>
                <p class="card-text">
                    {{ schedule.description }}
                </p>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}