{% extends 'layout/base.html' %}

{% block title %}Schedule {% endblock %}

{% block content %}
    <a href="/schedules/{{schedule.id}}/create" class="btn btn-success btn-sm">Add Day</a>&nbsp;&nbsp;
    <a href="/schedules/{{schedule.id}}/update" class="btn btn-primary btn-sm">Edit</a>
    &nbsp;&nbsp;
    <a href="/schedules/{{schedule.id}}/delete" class="btn btn-danger btn-sm">X</a>
    <hr/>
    <h1>{{schedule.title}}</h1>
    <hr/>
    {{schedule.description}}

    <br/>
    <hr/>
    {% if days %}
    <h3>Days</h3>
    <hr/>
    {% endif %}
    <div class="row">
        {% for day in days %}
            <div class="col" style="padding: 10px">

                <div class="card" style="padding: 20px">
                    <h3><a href="/schedules/{{schedule.id}}/{{day.id}}">{{day.title}}</a> | <i><b>{{"In progress" if not day.done else "Done"}}</b></i></h3>
                    <hr/>
                    {{day.description}}
                    <hr/>
                    {{day.date}}
                </div>

            </div>
        {% endfor %}
    </div>
{% endblock %}