{% extends 'layout/base.html' %}

{% block title %}Login {% endblock %}

{% block content %}
<form method="POST" style="padding: 100px;">
    <h1>LOGIN</h1>
    <hr/>
    {% if error %}
        <div class="alert alert-danger">{{error}}</div><hr/>
    {% endif %}
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.username(size=20, class_="form-control", placeholder="Username") }}
    </div>
    <br/>
    <div class="form-group">
        {{ form.password(class_="form-control", placeholder="Password") }}
    </div>
    <br/>
    <div class="form-group">
        {{ form.submit(class_="btn btn-success") }}
    </div>
</form>
{% endblock %}