{% extends 'layout/base.html' %}

{% block title %}| Register {% endblock %}

{% block content %}
<form method="POST">
    <h1>Register</h1>
    <hr/>
    {% if error %}
        <div class="alert alert-danger">{{error.message}}</div><hr/>
    {% endif %}

    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.username(size=20, class_="form-control", placeholder="Username") }}
    </div>
    <br/>
    <div class="form-group">
        {{ form.password(class_="form-control", placeholder="Password") }}
    </div>
    <br/>
    <div class="form-group">
        {{ form.password_confirmation(class_="form-control", placeholder="Password Confirmation") }}
    </div>
    <br/>
    <div class="form-group">
        {{ form.submit(class_="btn btn-success") }}
    </div>
</form>
{% endblock %}